
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a class="h3"><b>Déconnexion</b></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Voulez vous vraiment se déconnecter ?</p> 

        <div class="row">
            <div class="col-6">
            <button (click)="onDismiss()" class="btn btn-default btn-block">Annuler</button>
            </div>
            <div class="col-6">
            <button (click)="onConfirm()" class="btn btn-danger btn-block" >Se déconnecter</button>
            </div>
        </div>
          
        </div>
      </div>
    </div>
    
    